@charset "UTF-8";
:root {
  --primary-blue: #058df3;
  --secondary-blue: #3F51B5;
  --primary-orange: #FF5722;
  --primary-gray: #747474;
  --primary-green: #36811b;
  --primary-red: #c21b1b;
  --fill: #dbdbdb;
  /*  body  */
  --site-bg: #121212;
  --header-bg: #080808;
  --main-bg: transparent;
  --main-color: #8e8e8e;
  --mode-content-bg: #222222;
  --mode-content-color: #c6c6c6;
  --dark-35: #353535;
  --dark-31: #313131;
  --dark-29: #292929;
  --dark-0c: #0c0c0c;
  --shadow-0d: #0d0d0d;
  --shadow-0c9: #0c0c0cd9;
  --filter-b1: brightness(70%);
  --filter-b2: brightness(130%);
  --fill-toggle: #c9c9c9;
}

body.dark-mode {
  --site-bg: #121212;
  --header-bg: #080808;
  --main-bg: transparent;
  --main-color: #8e8e8e;
  --mode-content-bg: #222222;
  --mode-content-color: #c6c6c6;
  --dark-35: #353535;
  --dark-31: #313131;
  --dark-29: #292929;
  --dark-0c: #0c0c0c;
  --shadow-0d: #0d0d0d;
  --shadow-0c9: #0c0c0cd9;
  --filter-b1: brightness(70%);
  --filter-b2: brightness(130%);
  --fill-toggle: #c9c9c9;
}

body.light-mode {
  --site-bg: #dfdfdf;
  --header-bg: #080808;
  --main-bg: transparent;
  --main-color: #6d6d6d;
  --dark-35: #DBDBDB;
  --dark-31: #eeeeee;
  --dark-29: #c7c7c7;
  --dark-0c: #d6d6d6;
  --mode-content-bg: #f0f0f0;
  --mode-content-color: #505050;
  --shadow-0d: #cccccc;
  --shadow-0c9: #f1f1f1d9;
  --filter-b1: brightness(45%);
  --filter-b2: brightness(110%);
  --fill-toggle: #292929;
}

@font-face {
  font-family: 'Artegra Soft';
  src: local("Artegra Soft Black"), local("ArtegraSoft-Black"), url("../../assets/fonts/ArtegraSoft-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Artegra Soft';
  src: local("Artegra Soft ExtraBold"), local("ArtegraSoft-ExtraBold"), url("../../assets/fonts/ArtegraSoft-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Artegra Soft';
  src: local("Artegra Soft"), local("ArtegraSoft-Regular"), url("../../assets/fonts/ArtegraSoft-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Artegra Soft';
  src: local("Artegra Soft Thin"), local("ArtegraSoft-Thin"), url("../../assets/fonts/ArtegraSoft-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Artegra Soft';
  src: local("Artegra Soft SemiBold"), local("ArtegraSoft-SemiBold"), url("../../assets/fonts/ArtegraSoft-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Artegra Soft';
  src: local("Artegra Soft Bold"), local("ArtegraSoft-Bold"), url("../../assets/fonts/ArtegraSoft-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Artegra Soft';
  src: local("Artegra Soft Light"), local("ArtegraSoft-Light"), url("../../assets/fonts/ArtegraSoft-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Artegra Soft';
  src: local("Artegra Soft Medium"), local("ArtegraSoft-Medium"), url("../../assets/fonts/ArtegraSoft-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Artegra Soft';
  src: local("Artegra Soft ExtraLight"), local("ArtegraSoft-ExtraLight"), url("../../assets/fonts/ArtegraSoft-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: calc(100% - 16px);
  background-color: var(--site-bg);
  font-family: 'Artegra Soft', sans-serif;
  font-weight: 400;
  font-size: .915rem;
  color: #fff;
}

.toggle-mode {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  bottom: 50%;
  right: 50%;
  transform: translateX(calc(-50% + 567px)) translateY(calc(-50% + 235px));
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--dark-31);
}

body.dark-mode .toggle-mode {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  bottom: 50%;
  right: 50%;
  transform: translateX(calc(-50% + 567px)) translateY(calc(-50% + 235px));
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--dark-31);
}

body.light-mode .toggle-mode {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  bottom: 50%;
  right: 50%;
  transform: translateX(calc(-50% + 567px)) translateY(calc(-50% + 238px));
  height: 32px;
  border-radius: 50%;
  background-color: var(--dark-31);
}

p {
  padding-inline-start: 4px;
  padding-inline-end: 4px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  line-height: 1.8;
}

h1 {
  padding-inline-start: 0px;
  font-size: 22px;
  font-weight: 700;
}

button {
  border: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

ul, li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1175px) {
  body {
    font-size: .906rem;
  }
  body.dark-mode .toggle-mode {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    bottom: 25px;
    right: 38px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--dark-31);
    transform: none;
  }
  body.light-mode .toggle-mode {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    bottom: 25px;
    right: 38px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--dark-31);
    transform: none;
  }
}

header {
  width: 100%;
  height: 290px;
  min-height: 290px;
  max-height: 290px;
  background-color: var(--header-bg);
}

header .header-container {
  width: 85vw;
}

header .logobg {
  position: fixed;
  top: 20px;
  right: 20px;
  animation-name: spin;
  animation-duration: 5500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  header {
    display: none;
  }
}

main {
  margin: 0 auto;
  width: 100%;
  padding: 13px 10px;
  max-width: 960px;
  background-color: var(--main-bg);
  color: var(--main-color);
  letter-spacing: 0.5px;
  text-shadow: 0 0 2px var(--shadow-0d);
}

.mode-content {
  padding: 4px 10px;
  margin: 10px auto;
  width: 100%;
  background-color: var(--mode-content-bg);
  color: var(--mode-content-color);
  line-height: 1.8;
  letter-spacing: 0.9px;
  border-radius: 4px;
  box-shadow: 0 0 4px 1px var(--shadow-0d);
  text-align: justify;
}

.mode-content p {
  padding: 0px;
}

@media (max-width: 700px) {
  main {
    margin: 0 auto;
    width: 100%;
    padding: 13px 10px;
    max-width: 700px;
    background-color: var(--main-bg);
    color: var(--main-color);
    letter-spacing: 0.5px;
    text-shadow: 0 0 2px var(--shadow-0d);
  }
}

.mobile-menu-fix {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translateX(calc(-50% + 560px)) translateY(calc(-50% - 169px));
}

.mobile-menu-fix .mobile-menu {
  position: relative;
}

.mobile-menu-fix .mobile-menu li {
  position: relative;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items {
  position: absolute;
  right: 1px;
  width: 46px;
  height: auto;
  display: grid;
  place-content: center;
  grid-row-gap: 10px;
  background-color: var(--shadow-0c9);
  border-radius: 23px 23px 23px 23px;
  padding: 6px 5px 6px 5px;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item {
  display: block;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-29);
  box-shadow: 0 0 3px 1px var(--dark-0c);
  border-radius: 50px;
  visibility: visible;
  transition: .15s all ease-in-out;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item ul {
  cursor: default;
  position: absolute;
  right: 80px;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.45s;
  transform: translateX(-80px);
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item ul > li .mm {
  font-family: 'Artegra Soft', sans-serif;
  font-weight: 700;
  width: calc(100% - 17px);
  background-color: var(--dark-35);
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.815rem;
  box-shadow: 0 0 3px 2px var(--shadow-0d);
  display: grid;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item ul > li .mm a {
  display: block;
  letter-spacing: 0.5px;
  padding: 9px 0 7px 7px;
  color: var(--main-color);
  text-shadow: 0 0 2px var(--dark-0c), 0 0 2px var(--dark-0c);
  text-decoration: none;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item ul > li .mm a:hover {
  background-color: var(--shadow-0c9);
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item ul > li .mm a:first-child {
  border-radius: 5px 5px 0 0;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item ul > li .mm a:last-child {
  border-radius: 0 0 5px 5px;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item ul > li :last-child() {
  transform: translateY(-109px);
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item:hover > .home-menu-container,
.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item .home-menu-container {
  position: absolute;
  min-width: 130px;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item:hover > .mission-menu-container,
.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item .mission-menu-container {
  position: absolute;
  min-width: 190px;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item:hover > .hokage-menu-container,
.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item .hokage-menu-container {
  position: absolute;
  min-width: 145px;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item:hover > .city-menu-container,
.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item .city-menu-container {
  position: absolute;
  min-width: 185px;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item:hover > .jutsu-menu-container,
.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item .jutsu-menu-container {
  position: absolute;
  min-width: 245px;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item:hover > .weapon-menu-container,
.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item .weapon-menu-container {
  position: absolute;
  min-width: 218px;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item:hover > .ranklist-menu-container,
.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item .ranklist-menu-container {
  position: absolute;
  min-width: 125px;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item:hover > ul {
  right: 38px;
  visibility: visible;
  background-color: transparent;
  opacity: 1;
  width: auto;
  min-width: 170px;
  height: auto;
  transform: translateX(0px);
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item::before {
  content: '';
  position: absolute;
  transform: translateX(0px);
  transition: .15s all ease-in-out;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item:hover {
  filter: var(--filter-b2);
  cursor: pointer;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item:hover::before {
  content: '';
  cursor: default;
  position: absolute;
  z-index: 1;
  top: 18px;
  width: 5px;
  height: 5px;
  background-color: var(--primary-blue);
  transform: translateX(-29px);
  border-radius: 5px;
  transition: .15s all ease-in-out;
}

.mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item .mobile-menu-icon {
  display: block;
  width: 24px;
  height: 24px;
  filter: var(--filter-b1);
  visibility: visible;
  transition: .15s all ease-in-out;
}

.mobile-menu-fix .mobile-menu .hamburger-button-container {
  display: none;
}

.mobile-menu-fix .mobile-menu .hamburger-button-container-close {
  display: none;
}

@media (max-width: 1175px) {
  .mobile-menu-fix {
    position: fixed;
    bottom: 78px;
    right: 30px;
    transform: none;
  }
  .mobile-menu-fix .mobile-menu {
    position: relative;
  }
  .mobile-menu-fix .mobile-menu li {
    position: relative;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items {
    position: absolute;
    right: 1px;
    width: 46px;
    height: 0px;
    display: grid;
    place-content: center;
    grid-row-gap: 10px;
    background-color: var(--shadow-0c9);
    border-radius: 23px 23px 0 0;
    bottom: 0px;
    transition: bottom .85s ease;
    visibility: hidden;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items .mobile-menu-item {
    display: none;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open {
    bottom: 30px;
    opacity: 1;
    height: auto;
    visibility: visible;
    padding: 6px 5px 28px 5px;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item {
    display: block;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-29);
    box-shadow: 0 0 3px 1px var(--dark-0c);
    border-radius: 50px;
    visibility: visible;
    transition: .15s all ease-in-out;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item ul {
    cursor: default;
    position: absolute;
    right: 80px;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.45s;
    transform: translateX(-80px);
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item ul > li .mm {
    font-family: 'Artegra Soft', sans-serif;
    font-weight: 700;
    width: calc(100% - 17px);
    background-color: var(--dark-35);
    border-radius: 6px;
    font-weight: 600;
    font-size: 0.815rem;
    box-shadow: 0 0 3px 2px var(--shadow-0d);
    display: grid;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item ul > li .mm a {
    display: block;
    letter-spacing: 0.5px;
    padding: 9px 0 7px 7px;
    color: var(--main-color);
    text-shadow: 0 0 2px var(--dark-0c), 0 0 2px var(--dark-0c);
    text-decoration: none;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item ul > li .mm a:hover {
    background-color: var(--shadow-0c9);
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item ul > li .mm a:first-child {
    border-radius: 5px 5px 0 0;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item ul > li .mm a:last-child {
    border-radius: 0 0 5px 5px;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item ul > li :last-child() {
    transform: translateY(-109px);
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item:hover > .home-menu-container,
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item .home-menu-container {
    position: absolute;
    min-width: 130px;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item:hover > .mission-menu-container,
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item .mission-menu-container {
    position: absolute;
    min-width: 190px;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item:hover > .hokage-menu-container,
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item .hokage-menu-container {
    position: absolute;
    min-width: 145px;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item:hover > .city-menu-container,
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item .city-menu-container {
    position: absolute;
    min-width: 185px;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item:hover > .jutsu-menu-container,
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item .jutsu-menu-container {
    position: absolute;
    min-width: 245px;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item:hover > .weapon-menu-container,
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item .weapon-menu-container {
    position: absolute;
    min-width: 218px;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item:hover > .ranklist-menu-container,
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item .ranklist-menu-container {
    position: absolute;
    min-width: 125px;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item:hover > ul {
    right: 38px;
    visibility: visible;
    background-color: transparent;
    opacity: 1;
    width: auto;
    min-width: 170px;
    height: auto;
    transform: translateX(0px);
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item::before {
    content: '';
    position: absolute;
    transform: translateX(0px);
    transition: .15s all ease-in-out;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item:hover {
    filter: var(--filter-b2);
    cursor: pointer;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item:hover::before {
    content: '';
    cursor: default;
    position: absolute;
    z-index: 1;
    top: 18px;
    width: 5px;
    height: 5px;
    background-color: var(--primary-blue);
    transform: translateX(-29px);
    border-radius: 5px;
    transition: .15s all ease-in-out;
  }
  .mobile-menu-fix .mobile-menu .mobile-menu-items-open .mobile-menu-item .mobile-menu-icon {
    display: block;
    width: 24px;
    height: 24px;
    filter: var(--filter-b1);
    visibility: visible;
    transition: .15s all ease-in-out;
  }
  .mobile-menu-fix .mobile-menu .hamburger-button-container {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48px;
    height: 48px;
    background-color: var(--dark-31);
    border-radius: 100%;
    box-shadow: 0 0 3px 1px var(--dark-0c);
    cursor: pointer;
    transition: .15s all ease-in-out;
  }
  .mobile-menu-fix .mobile-menu .hamburger-button-container .line1 {
    width: 4px;
    height: 22px;
    background-color: var(--primary-blue);
    position: absolute;
    top: 13px;
    left: 22px;
    transition: .15s all ease-in-out;
    border-radius: 4px;
  }
  .mobile-menu-fix .mobile-menu .hamburger-button-container .line2 {
    width: 22px;
    height: 4px;
    background-color: var(--primary-blue);
    position: absolute;
    top: 22px;
    left: 13px;
    transition: .15s all ease-in-out;
    border-radius: 4px;
  }
  .mobile-menu-fix .mobile-menu .hamburger-button-container-close {
    display: block;
    cursor: pointer;
  }
  .mobile-menu-fix .mobile-menu .hamburger-button-container-close .line1 {
    width: 2px;
    height: 30px;
    top: 9px;
    left: 23px;
    transform: rotate(135deg);
    transition: .15s all ease-in-out;
  }
  .mobile-menu-fix .mobile-menu .hamburger-button-container-close .line2 {
    width: 30px;
    height: 2px;
    top: 23px;
    left: 9px;
    transform: rotate(135deg);
    transition: .15s all ease-in-out;
  }
}

.img-character-profile {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(calc(-50% - 546px)) translateY(calc(-50% + 90px));
  border-radius: 5px;
  box-shadow: 0 0 3px 1px var(--shadow-0d);
}

.sun-svg {
  height: auto;
  padding: 5px;
  fill: var(--fill-toggle);
  width: 28px;
}

.moon-svg {
  height: auto;
  padding: 5px;
  fill: var(--fill-toggle);
  width: 32px;
}

#svg {
  fill: var(--fill);
}

/**
*
*   ALSÓ GOMBOK
*
*/
.profile-icons {
  display: inline-grid;
  grid-template-columns: 36px 36px 36px;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  gap: 15px;
}

.profile-icons .profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 3px;
  width: 36px;
  height: 35px;
  box-shadow: 0 0 3px 1px var(--shadow-0d);
  background: var(--primary-red);
}

.profile-icons .profile-btn:hover {
  cursor: pointer;
  filter: brightness(80%);
  transition: all .15s ease;
}

.profile-icons .messages-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 3px;
  width: 36px;
  height: 35px;
  box-shadow: 0 0 3px 1px var(--shadow-0d);
  background: var(--primary-gray);
}

.profile-icons .messages-btn:hover {
  cursor: pointer;
  filter: brightness(80%);
  transition: all .15s ease;
}

.profile-icons .characters-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 3px;
  width: 36px;
  height: 35px;
  box-shadow: 0 0 3px 1px var(--shadow-0d);
  background: var(--primary-green);
}

.profile-icons .characters-btn:hover {
  cursor: pointer;
  filter: brightness(80%);
  transition: all .15s ease;
}

.auth-container {
  display: inline-grid;
  grid-template-columns: 36px 36px;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  gap: 15px;
}

.auth-container .login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 3px;
  width: 36px;
  height: 35px;
  box-shadow: 0 0 3px 1px var(--shadow-0d);
  background: var(--secondary-blue);
}

.auth-container .login-btn:hover {
  cursor: pointer;
  filter: brightness(80%);
  transition: all .15s ease;
}

.auth-container .register-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 3px;
  width: 36px;
  height: 35px;
  box-shadow: 0 0 3px 1px var(--shadow-0d);
  background: var(--primary-orange);
}

.auth-container .register-btn:hover {
  cursor: pointer;
  filter: brightness(80%);
  transition: all .15s ease;
}

.toggle-mode {
  cursor: pointer;
  box-shadow: 0 0 3px 1px var(--shadow-0d);
}

@media (max-width: 1175px) {
  .img-character-profile {
    position: fixed;
    bottom: 25px;
    left: 30px;
    transform: none;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px var(--shadow-0d);
  }
}

.oneclan {
  width: 100%;
  height: auto;
  display: inline-grid;
  grid-template-columns: 40% 45% 15%;
}

footer {
  margin-bottom: 150px;
}
