.img-character-profile {
        position: fixed;
        bottom: 50%;
        left: 50%;
        transform: translateX(calc(-50% - 546px)) translateY(calc(-50% + 90px));
        border-radius: 5px;
        box-shadow: 0 0 3px 1px var(--shadow-0d);
}
@media (max-width: 1175px) {
    .img-character-profile {
        position: fixed;
        bottom: 25px;
        left: 30px;
        transform: none;
        border-radius: 5px;
        box-shadow: 0 0 3px 1px var(--shadow-0d);
    }
}
.sun-svg {
    width: 28px;
    height: auto;
    padding: 5px;
    fill: var(--fill-toggle);
}

.moon-svg {
    width: 32px;
    height: auto;
    padding: 5px;
    fill: var(--fill-toggle);
}

#svg {
    fill: var(--fill);
}

.profile-icons {
    display: inline-grid;
    grid-template-columns: 36px 36px 36px;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    .profile-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        border-radius: 3px;
        width: 36px;
        height: 35px;
        box-shadow: 0 0 3px 1px var(--shadow-0d);
        background: var(--secondary-blue);
        &:hover {
            cursor: pointer;
            filter: brightness(80%);
            transition: all .15s ease;
        }
    }
    
    .messages-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        border-radius: 3px;
        width: 36px;
        height: 35px;
        box-shadow: 0 0 3px 1px var(--shadow-0d);
        background: var(--primary-orange);
        &:hover {
            cursor: pointer;
            filter: brightness(80%);
            transition: all .15s ease;
        }
    }
    .characters-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        border-radius: 3px;
        width: 36px;
        height: 35px;
        box-shadow: 0 0 3px 1px var(--shadow-0d);
        background: var(--primary-orange);
        &:hover {
            cursor: pointer;
            filter: brightness(80%);
            transition: all .15s ease;
        }
    }
}

.auth-container {
    display: inline-grid;
    grid-template-columns: 36px 36px;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;

    .login-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        border-radius: 3px;
        width: 36px;
        height: 35px;
        box-shadow: 0 0 3px 1px var(--shadow-0d);
        background: var(--secondary-blue);
        &:hover {
            cursor: pointer;
            filter: brightness(80%);
            transition: all .15s ease;
        }
    }
    
    .register-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        border-radius: 3px;
        width: 36px;
        height: 35px;
        box-shadow: 0 0 3px 1px var(--shadow-0d);
        background: var(--primary-orange);
        &:hover {
            cursor: pointer;
            filter: brightness(80%);
            transition: all .15s ease;
        }
    }
}

.toggle-mode {
    cursor: pointer;
    box-shadow: 0 0 3px 1px var(--shadow-0d);
}

